# Loss

In [68]:
# https://github.com/Parasgr7/Movie-Recommendation-System
# AutoEncoders

import numpy as np
import pandas as pd
import random

In [51]:
# UserID::Gender::Age::Occupation::Zip-code
# MovieID::Title::Genres
# UserID::MovieID::Rating::Timestamp (5-star scale)

# Importing the dataset
movies = pd.read_csv('ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
users = pd.read_csv('ml-1m/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
ratings = pd.read_csv('ml-1m/ratings.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [52]:
num_users = len(users)
num_movies= len(movies)

In [43]:
train_lst = []
val_lst   = []
test_lst  = []

In [44]:
for uid in range(num_users):
    watches = ratings.loc[ratings[0] == uid]
    
    train_lst.append(watches.iloc[:int(len(watches)*0.7)])
    val_lst.append(watches.iloc[int(len(watches)*0.7):int(len(watches)*0.8)])
    test_lst.append(watches.iloc[int(len(watches)*0.8):])

In [45]:
train = pd.concat(train_lst)
val   = pd.concat(val_lst)
test  = pd.concat(test_lst)
train.to_pickle('./data/ml/train.pkl')
val.to_pickle('./data/ml/val.pkl')
test.to_pickle('./data/ml/test.pkl')

In [47]:
num_users, num_movies

(6040, 3883)

In [58]:
num_users  = int(max(max(train.values[:,0]), max(val.values[:,0]), max(test.values[:,0]))) + 1
num_movies = int(max(max(train.values[:,1]), max(val.values[:,1]), max(test.values[:,1]))) + 1
num_users, num_movies

(6040, 3953)

# Hit ratio / NDCG

In [91]:
train_lst = []
val_lst   = []
test_lst  = []
neg_lst  = []

In [92]:
for uid in range(1, num_users+1):
    watches = ratings.loc[ratings[0] == uid]
    
    watched = watches[1].values.tolist()
    unwatch = set(range(1, num_movies+1)) - set(watched)
    
    ns_list = random.sample(unwatch, 100)
    
    train_lst.append(watches.iloc[:-2])
    val_lst.append(watches.iloc[-2])
    test_lst.append(watches.iloc[-1])
    neg_lst.append(list(ns_list))

In [93]:
train = pd.concat(train_lst)
val   = pd.concat(val_lst, 1).T
test  = pd.concat(test_lst, 1).T

train.to_pickle('./data/ml/train_score.pkl')
val.to_pickle('./data/ml/val_score.pkl')
test.to_pickle('./data/ml/test_score.pkl')
np.save('./data/ml/neg_score.npy', neg_lst)

# Yelp

In [44]:
import pandas as pd
col_names = ['user', 'item', 'rate', 'timestamp']
ratings = pd.read_csv('./yelp/yelp.rating', sep='\t', header=None, names = col_names)
num_item = 25815
num_user = 25677
less_user = []
less_item = []

In [45]:
flag = True
while flag:
    flag = False
    for user, count in ratings.groupby(['user']):
        if len(count) < 10:
            less_user.append(user)
            ratings = ratings[ratings.user != user]
            flag = True

    for item, count in ratings.groupby(['item']):
        if len(count) < 10:
            less_item.append(item)
            ratings = ratings[ratings.item != item]
            flag = True

In [46]:
len(less_user), len(less_item)

(2608, 10239)

In [60]:
train_lst = []
val_lst   = []
test_lst  = []
neg_lst  = []

In [61]:
import random

for uid in range(1, num_user+1):
    try:
        watches = ratings.loc[ratings['user'] == uid]
    except:
        continue
    
    watched = watches['item'].values.tolist()
    unwatch = set(range(1, num_item+1)) - set(watched) - set(less_item)
    
    ns_list = random.sample(unwatch, 100)
    
    train_lst.append(watches.iloc[:int(len(watches)*0.7)])
    val_lst.append(watches.iloc[int(len(watches)*0.7):int(len(watches)*0.8)])
    test_lst.append(watches.iloc[int(len(watches)*0.8):])

    neg_lst.append(list(ns_list))

In [63]:
import numpy as np
train = pd.concat(train_lst)
val   = pd.concat(val_lst)
test  = pd.concat(test_lst)
train.to_pickle('./data/yelp/train.pkl')
val.to_pickle('./data/yelp/val.pkl')
test.to_pickle('./data/yelp/test.pkl')
np.save('./data/yelp/neg_score.npy', neg_lst)

In [64]:
train

         user   item  rate   timestamp
69          1     66   4.0  1389974400
70          1     67   3.0  1409673600
71          1     68   3.0  1406908800
72          1     69   3.0  1388764800
74          1     71   5.0  1389801600
75          1     72   4.0  1409673600
76          1     73   4.0  1372694400
77          1     73   2.0  1394121600
78          1     74   2.0  1389456000
79          1     75   4.0  1389456000
80          1     76   4.0  1388764800
82          1     78   3.0  1388764800
83          1     79   3.0  1391356800
84          1     79   3.0  1393603200
85          1     80   1.0  1388851200
88          1     83   2.0  1380902400
89          1     84   2.0  1388851200
90          1     85   1.0  1412438400
91          1     86   5.0  1389888000
92          1     87   5.0  1402156800
93          1     88   4.0  1388592000
94          1     89   3.0  1388592000
95          1     90   4.0  1388592000
96          1     91   3.0  1388073600
97          1     92   5.0  1389196800
98          1     93   5.0  1389888000
99          1     94   3.0  1388851200
100         1     95   4.0  1388764800
101         1     96   4.0  1388851200
102         1     96   5.0  1389369600
...       ...    ...   ...         ...
731470  25663   1626   1.0  1390752000
731471  25663   2971   4.0  1387468800
731487  25665   1618   4.0  1392652800
731488  25665    465   4.0  1392652800
731489  25665    937   1.0  1392652800
731490  25665   2960   4.0  1392652800
731491  25665   2972   4.0  1392652800
731492  25665   6290   5.0  1392652800
731493  25665    406   5.0  1392652800
731498  25666  14550   3.0  1269360000
731499  25666   4018   4.0  1270310400
731500  25666   6226   4.0  1270828800
731501  25666   9933   1.0  1405612800
731502  25666  11967   4.0  1292601600
731503  25666   4033   4.0  1310400000
731504  25666  16446   4.0  1389024000
731508  25667     43   2.0  1325088000
731509  25667     47   4.0  1325088000
731510  25667     48   5.0  1325088000
731511  25667     49   5.0  1325088000
731512  25667  19869   2.0  1325088000
731513  25667   1621   1.0  1325088000
731514  25667    150   5.0  1325088000
731651  25675   8849   5.0  1419955200
731652  25675   1945   5.0  1419696000
731653  25675  20836   5.0  1368288000
731654  25675  20836   5.0  1382112000
731655  25675   1839   5.0  1388678400
731656  25675   6032   5.0  1400256000
731657  25675   3016   5.0  1400256000

[444445 rows x 4 columns]